* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background-color: #212529;
  padding: 0.6rem 0.8rem;
}

header {
  background: linear-gradient(to right, #ace1ae, #adc9af);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 0.9rem;
  color: #282828;
}

.book-input {
  padding: 0.6rem 9.6rem 0.6rem 1.2rem;
  border-radius: 9px;
  border: none;
  background-color: #d5e6d6;
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
}

.books-boxes {
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  padding: 0 12.8rem;
  gap: 1.2rem;
  margin-top: 1.2rem;
  height: calc(100vh - 3 * 2.4rem);
}

.box {
  background-color: #343a40;
  width: 42rem;
  max-width: 42rem;
  border-radius: 9px;
  position: relative;
  overflow: scroll;
}

.toggle-button {
  position: absolute;
  max-width: 1.5rem;
  top: 0.8rem;
  right: 0.8rem;
  border-radius: 9999px;
  border: none;
  padding: 0.2rem 0.6rem;
  background-color: #212529;
  color: white;
  font-weight: 800;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.book-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.book-item {
  padding: 0.8rem 1.2rem;
  color: azure;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}

.book-item-text {
  display: flex;
  flex-direction: column;
}

.book-item-text-title {
  font-weight: 800;
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}

.book-item-text-year {
  font-size: 0.9rem;
}
.book-item img {
  width: 4.4rem;
  height: 6.4rem;
}

.book-item:hover {
  background-color: #5f5f5f36;
}
